useDynLib(PeakSegPipeline)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "quantile", "sd")
importFrom("utils", "write.table")
import(data.table)
import(PeakError)
import(PeakSegJoint)
importFrom(penaltyLearning, modelSelection, IntervalRegressionCV, largestContinuousMinimumC)
#import(ggplot2Animint)
#import(animint2)
import(namedCapture)
import(xtable)
import(WeightedROC)
import(parallel)
importFrom("grDevices", "col2rgb", "dev.off", "png")
importFrom("graphics", "image")
importFrom("stats", "chisq.test", "dnorm", "median")
importFrom("utils", "download.file")
