useDynLib(PeakSegPipeline)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "quantile", "sd")
importFrom("utils", "write.table")
import(data.table)
import(PeakError)
import(PeakSegJoint)
importFrom(penaltyLearning, modelSelection, IntervalRegressionCV, largestContinuousMinimumC)
import(ggplot2)
import(namedCapture)
import(animint)
import(xtable)
import(WeightedROC)
