useDynLib(PeakSegPipeline)
export(convert_labels)
export(downloadProblems)
export(gap2problems)
export(jobs_create)
export(jobs_submit_batchtools)
export(create_track_hub)
export(problem.target)
export(problem.train)
export(problem.pred.cluster.targets)
export(problem.joint.targets.train)
export(problem.joint.predict.job)
export(plot_all)
export(problem.joint.plot)
export(bedGraphToBigWig)
export(readBigWig)
export(bigWigToBedGraph)
importFrom("stats", "quantile", "sd")
importFrom("utils", "write.table")
import(Matrix)
import(data.table)
import(PeakError)
import(PeakSegJoint)
importFrom(penaltyLearning, modelSelection, IntervalRegressionCV, largestContinuousMinimumC, geom_tallrect)
import(nc)
import(xtable)
importFrom("grDevices", "col2rgb", "dev.off", "png")
importFrom("stats", "chisq.test", "dnorm", "median")
importFrom("utils", "download.file")
import(ggplot2)
import(PeakSegDisk)

